@model IEnumerable<API.Models.Region>

@{ ViewData["Title"] = "Index";

}


    <div class="container">

            <h1 class="judul">Region</h1>
            <table class="table table-stripped table-hover" id="tableRegion">
                <thead class="thead-dark">
                    <tr>
                      
                        <th>Nama</th>

                    </tr>
                </thead>
                <tbody id="tbodySW">

                </tbody>
            </table>
        </div>

    @*<h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
            </tbody>
        </table>*@


    @section Scripts {
        <script src="~/js/Region/Index.js"></script>
    }
